/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-awesome {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

// .services {
// 	display: grid;
// 	grid-template-columns: repeat(3, 1fr);
// 	gap: 20px;
// }

// .feature {
// 	padding: 20px;
// 	border: 1px solid #a1a1a16c;
// 	border-radius: 20px;
// }

// .feature h3 {
// 	margin: 0;
// 	color: #cf8b24;
// }

.our-pet {
	border: 1px solid #bbbbbb;
	padding: 20px;
}

.our-pet h2 {
	margin: 0;
}
