/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-awesome {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.our-pet {
	border: 1px solid #bbbbbb;
	padding: 20px;
}

.our-pet h2 {
	margin: 0;
}
